@{
    ViewBag.Title = "About";
}

<p>Add the following in the config file</p>
<li>UserName</li>
<li>Password</li>
<li>Url</li>
<li>CompanyName</li>

<p>Create a folder called images and add the company logo there</p>